@model RentACar_1.ViewModels.EditCarViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Edit Car</title>
</head>
<body>
    <h1>Edit Car</h1>
    <div>
        <form asp-action="EditCar" method="post">
            <input type="hidden" asp-for="CarId" />

            <div class="form-group">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsAutomatic"></label>
                <input asp-for="IsAutomatic" class="form-control" />
                <span asp-validation-for="IsAutomatic" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FuelType"></label>
                <input asp-for="FuelType" class="form-control" />
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Power"></label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RegistrationNumber"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PricePerDay"></label>
                <input asp-for="PricePerDay" class="form-control" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>
</html>
