@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    .forgot-password-container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        background: #fff;
        box-shadow: 0 10px 40px 0px rgba(38,40,64,.2);
    }

        .forgot-password-container h1 {
            text-align: center;
            margin-bottom: 20px;
        }

    .forgot-password-form label {
        font-weight: normal;
    }

    .forgot-password-form input[type="email"] {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

</style>

<div class="forgot-password-container">
    <h1>@ViewData["Title"]</h1>
    <h2>Enter your email.</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" class="forgot-password-form">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
