@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}

<style>
	.log-in-container {
		max-width: 400px;
		margin: auto;
		padding: 20px;
		background: #fff;
		box-shadow: 0 10px 40px 0px rgba(38,40,64,.2);
	}

		.log-in-container h1 {
			text-align: center;
			margin-bottom: 20px;
		}

	.log-in-form label {
		font-weight: bold;
	}

	.log-in-form input[type="email"],
	.log-in-form input[type="password"] {
		padding: 6px;
		margin-bottom: 15px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	.log-in-form .checkbox label {
		font-weight: normal;
	}

	.log-in-links {
		margin-top: 20px;
	}

	.log-in-links a {
		font-size: 12px;
	}
</style>

<div class="log-in-container">
	<h1>@ViewData["Title"]</h1>
	<form id="account" class="log-in-form" method="post">
		<h2>Use a local account to log in.</h2>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
		<div class="form-floating mb-3">
			<label asp-for="Input.Email">Email</label>
			<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
			<span asp-validation-for="Input.Email" class="text-danger"></span>
		</div>
		<div class="form-floating mb-3">
			<label asp-for="Input.Password">Password</label>
			<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
			<span asp-validation-for="Input.Password" class="text-danger"></span>
		</div>
		<div class="checkbox mb-3">
			<label asp-for="Input.RememberMe">
				<input asp-for="Input.RememberMe" /> @Html.DisplayNameFor(m => m.Input.RememberMe)
			</label>
		</div>
		<div>
			<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary welcome-btn">Log in</button>
		</div>
		<div class="log-in-links">
			<p>
				<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
			</p>
			<p>
				<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
			</p>
			<p>
				<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
			</p>
		</div>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
